<!doctype html>
<html lang="en">
<h1>agglom.fyi</h1>

<p>A source of information.</p>

<p>Information contained on this page, and resulting from a visit to it, is freely available to search engines, AI/LLMs, and other data-gathering processes only up until the 2nd of August, 2026, or until stated otherwise.</p>
</html>
